<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>todolist</title>
    <link rel="stylesheet" href="./img/1.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
     <!-- <script src="/js/home/login.js"></script>--> 
     <!--  <link rel="stylesheet" href="/css/home/login.css">--> 
     <script src="https://kit.fontawesome.com/044a7f1a45.js" crossorigin="anonymous"></script>
     <script type="text/javascript">
        
        document.addEventListener('DOMContentLoaded', () => {
            const input = document.querySelector('#todo')
            const addButton = document.querySelector('#add-button')
            const todoList = document.querySelector('.todo-list')
            const alert = document.querySelector('span')

            const addTodo = () => {
                if (input.value !== '') {
                    const item = document.createElement('li')

                    const checkbox = document.createElement('input')
                    checkbox.type='checkbox'
                    const text = document.createElement('span');
                    const editButton = document.createElement('i')
                    const deleteButton = document.createElement('i')

                    editButton.setAttribute('class', 'fa-solid fa-pen');
                    deleteButton.setAttribute('class', 'fa-solid fa-trash');
                    

                    text.textContent = input.value
                    input.value=''
              
                
                    item.appendChild(checkbox)
                    item.appendChild(text)
                    item.appendChild(editButton)
                    item.appendChild(deleteButton)
                    todoList.appendChild(item)

                    checkbox.addEventListener('change', (event) =>{ 
                        if (event.currentTarget.checked)
                        {
                            text.style.textDecoration='line-through',
                            text.style.color="#797979"
                        }
                        else {
                            text.style.textDecoration='none'
                            text.style.color="black"
                        }
                    })


                    deleteButton.addEventListener('click', (event) => {
                        todoList.removeChild(event.currentTarget.parentNode)
                    })
                    input.value =''
                    alert.textContent = ''

                    editButton.addEventListener('click', (event) => {
                        todoList.removeChild(event.currentTarget.parentNode)
                    })

     
       
                    }

                }

                addButton.addEventListener('click', (event) =>  {
                        if ( input.value === '') {
                            window.alert("아무것도 입력되지 않았습니다.");
                        }
                
                    })

            addButton.addEventListener('click', addTodo)

            input.addEventListener('keypress', (event) => {
                const ENTER = 13
                if (event.keyCode === ENTER)
                    addTodo();
                    div.wrapper.style.height="50px";
            })


  

   
        });
     </script>
     <style>
        .wrapper{
            margin: 120px auto;
            max-width: 700px;
            width: 100%;
            background: #f5f5f5;
            padding: 25px;
            border-radius: 6px;
        }
        .wrapper header{
            margin-bottom: 30px;
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 15px;
        }
        .wrapper .inputField{
            display: flex;  
            margin: 5px auto 20px ; 
            height: 45px;
            width: 700px;
            font-family:'Hi Melody', cursive;
        }
        .xi-plus{ /* +버튼 굵기지정  */
            font-weight: bold;
            color: wheat;
        }
        .inputField input{
            color: black;
            padding-left: 15px;
            width: 600px;
            height: 100%;
            border: none;
            font-size: 15px;
            border-radius: 5px;
            outline: none;  /*inputbox 클릭시 테두리 안보이게*/
        }
        .inputField button{
            border: none;
            border-radius: 3px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: transparent;
            font-size: 28px;
            border-color: transparent;
            padding-bottom: 31px;
            width: 10%;
        }
        .wrapper .todo-list li{
            display: flex;
        }
        .todo-list li{
   
            list-style: none;
            line-height: 40px; 
            position: relative;
            margin-bottom: 9px;
          
            border-radius: 3px;
            font-weight: 400;
            cursor: pointer;
        }
        .todo-list li:hover{
            background-color: #ccc;
        }


        .inputField input{
            color: black;
            padding-left: 15px;
            width: 600px;
            height: 100%;
            border: none;
            font-size: 15px;
            border-radius: 5px;
            outline: none;
        }
        body{
            height: 100vh;
            width: 100%;

        }
        div.wrapper h1{
            position: absolute;
            width: 101.26px;
            height: 24px;
            left: 22.06px;
            top: 25px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;

            color: #000000;
        }
        div.wrapper #todo{
            box-sizing: border-box;
            height: 34px;
            border-bottom: 1px solid #999 !important;
            background-color: transparent;
            border:0 solid black;
            width: 100%;
        }

        ul.todo-list{
            box-sizing: border-box;


        }
        .todo-list li input{
            margin-right: 10px;
        }
        ul.todo-list div{
            box-sizing: border-box;
            display: flex;
            border-bottom: 1px solid #CBCBCB;
        }
        ul.todo-list div:hover{
            box-sizing: border-box;
            background: #E0E0E0;


        }
        ul.todo-list span{
            width: 83%;
            display: block;

        }
        div ul.todo-list{
            padding: 0 !important;
        }
        ul.todo-list i{ 
            display: block;
            padding: 10px 15px;
            float: right;

        }
        ul.todo-list i:hover{

            transform: scale(1.2);

        }

     </style>
</head>
<body>
    <div class="wrapper">
        <header>To Do List</header>
        <div class="inputField">
            <input id="todo">
            <button id="add-button">+</button>
        </div>
        <div>
          <ul class="todo-list"></ul>
        </div>  
    </div>
</body>
