.todoList-page {
  position: absolute;
  left: calc(50% - 202.5px);
  top: calc(35% - 77px);

  background: #f1f1f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}
.form #list {
  box-sizing: border-box;

  width: 359.23px;
  height: 34px;
  left: 23.88px;
  top: 69px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #cbcbcb;
}

.form h2 {
  width: 101.26px;
  left: 22.06px;
  margin-left: 30px;
  margin-top: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.btn {
  box-sizing: border-box;

  margin-right: 20px;
}

.label {
  box-sizing: border-box;

  width: 300px;

  margin-left: 30px;
  margin-right: 30px;

  border-bottom: 1px solid #cbcbcb;
}

.editBtn {
  position: absolute;
  left: 83.2%;
  right: 12.84%;
  content: "\f304";
  font: var(--fa-font-solid);
  /* margin-left: 200px; */
}

.deleteBtn {
  position: absolute;
  left: 91.85%;
  right: 5.43%;
}

.inForm #space {
  margin-bottom: 30px;
}

.div {
  margin-top: 10px;
}
